body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

#titulo-principal {
    color: blue;
    font-size: 24px;
    text-align: center;
}

.destaque{
    
    background-color: yellow;
    padding: 10px;
    border: 1px solid black; 

}

.container {

background-color: #f0f0f0;
padding: 20px;
margin: 20px;

}



.box {

    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    
}



h1 {

    color: navy;
    font-size: 28px;
    
}

p {

   font-size: 16px;
   line-height: 1.5;

}

span {

font-size: bold;
color: red;

}
