body {
    background: black url(https://static.vecteezy.com/system/resources/previews/006/929/681/large_2x/abstract-background-bokeh-circle-light-blue-abstract-blue-effect-background-light-blue-abstract-background-free-photo.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

#titulo-principal {
    color: rgb(0, 68, 255);
    font-size: 24px;
    text-align: center;
}

.destaque{
    
    background-color: yellow;
    padding: 10px;
    border: 1px solid black; 

}

.container {

background-color: #f0f0f0;
padding: 20px;
margin: 20px;

}



.box {

    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    
}



h1 {

    color: rgb(0, 60, 128);
    font-size: 28px;
    
}

p {

   font-size: 16px;
   line-height: 1.5;

}

span {

font-size: bold;
color: red;

}

.Linha-Divisoria {
    border: 10;
    height: 10px;
    background: rgb(0, 0, 0);
    margin: 20px 0;
}