img{
    background-color: aqua;
    font: 16px arial, helvetica, sans-serif;
    width: 100%;
    background-repeat: no-repeat;
    
    
}

#conteiner {
    
    
}

#menu {
   background: #ffffff;
   padding: 18px;
   
}
